.grid-container {
    display: grid;
    grid-template-rows: 100px 300px;
  }
  h1{
    background-color: aquamarine;
  }
  #winner{
    background-color: #ec385c;
    float: center;
  }
  #myDIV {
    height:620px;
    width: 620px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: black;
    padding: 10px;
    grid: 200px 200px 200px / 200px 200px 200px;
  }
#myDIV div {
    
    margin:0;
    background-color: rgb(49, 143, 44);
    text-align: center;
    font-size: 6rem;
    border: 0px;
  }
  #reset{
    padding: 10px ;
    margin: 10px 10px 20px 10px;
    border-radius: 10px;
    background-color: rgb(165, 208, 35);
  }
  